<%- include('partials/header') %>
<form method="POST" action="/blog/<%=foundBlog._id%>/comment">
<input type='text' name='text' placeholder="Add your comment">
<input type='submit' value="Comment">
</form>
<%- include('partials/footer') %>