<%- include("./partials/header") %>
<div class="register-form">
    <form method="POST" action="/account/challenge/fgtpswd">
        <div>
            <h1 style="text-align:center">Recover Your Account</h1>
        </div>
        <div>
            <input type="text" name="email" placeholder="Enter Your Email Address">
        </div>
       
        <div>
            <button class="login-register_btn" type="submit">Submit</button> 
        </div>
        

    </form>
</div>

<%- include("./partials/footer") %>