<%- include('partials/header') %>
<div id='bg-img'>
  <img src='/images/hotel-blog.png'>
</div>
<div id='register-form'>

<form  method="POST" action='/register'>
    
    <p>SIGN UP</p>
    <div>
  <input type='email'  placeholder='Email' name='email'>
</div>
<div>
  <select  name="gender" id=select_bar>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select>
</div>
    <div>
    <input type='text' placeholder="Username" name='username'>
    </div>
    <div>
  <input type='password' placeholder='Password' name='password' >
</div>
<div>
    <button id="login-register_btn" type='submit'>Signup</button>
  </div>
<div class="fglinks">
    <a href="#" class="fb btn">
        <i class="fa fa-facebook fa-fw"></i> Signup with Facebook
       </a>
      <a href="#" class="google btn"><i class="fa fa-google fa-fw">
        </i> Signup with Google+
      </a>
</div>
   

</form>

</div>



<%- include('partials/footer') %>