<%- include("./partials/header") %>
<div class="register-form">
    <form method="POST" action="/changepswd/<%=foundUser._id %>">
        <div>
            <h1 style="text-align:center">Create new password</h1>
        </div>
        <div>
            <input type="password" name="password" placeholder="Enter your new password">
        </div>
       
        <div>
            <button type="submit" class="login-register_btn">Submit</button>
        </div>
        

    </form>
</div>
<%- include("./partials/footer") %>