/* remove the deafult margin*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
 /*Avoid black borders in chrome and other browsers on hover or focus*/
*,*:focus,*:hover{
    outline:none;
}
 
.navbar{
    display:flex;
    max-width: 100%;
    flex-wrap: wrap;
    font-family: 'Noto Sans TC', sans-serif;
    justify-content: space-between;
    align-items: center;
    padding:5px 8px;
    border-bottom:2px solid #e0e0e0;
    box-shadow:0px 0px 4px gray;
  }
  
.hamburger-icon{
    display:none;
  }

.hamburger-icon>button{
    background-color:transparent;
    border:none;
    margin-right:20px;
  
  }
  
.hamburger-icon>button>i{
    font-size:30px;
  }

.Logo{
    flex-basis:50%;
    font-size:20px;
    padding:8px;
  }
  
.navlinks{
    flex-basis:50%;
    font-size: 20px;
    font-weight: 500;
  }

.navlinks >ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style-type:none;
  }
  
  
.navlinks>ul>li>a{
    letter-spacing: 1px;
    color:#181818;
    font-size: 16px;
    text-decoration: none;
    display:block;
}

.navbar a:hover{
    color: rgb(51, 228, 228);
    
}
.hamburger-icon{
    display: none;
}



.blogs-form{
    max-width: 80%;
    margin:auto;
    display:flex;
    height:600px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    align-items: center;
}

.blogs-form>form{
    display:flex;
    flex-direction: column;
    margin:auto;
    width:70%;
}

.blogs-form>form>div{
    display:flex;
    flex-direction: column;
}

.blogs-form>form>div>input[type="text"]{
    max-width: 100%;
    padding:10px 15px;
    margin:10px;
    border-radius:5px;
    border:2px solid lightgray;
    transition:0.3s all;
}

.blogs-form>form>div>textarea{
    max-width: 100%;
    padding:10px 15px;
    font-size:16px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height:150px;
    margin:10px;
    border-radius:5px;
    border:2px solid lightgray;
    transition:0.3s all;
}

#filename2{
    background-color:rgb(105, 190, 105);
    font-size:15px;
    width:60%;
    margin:3px 0px;
    border-radius:5px;
    color:white;
}

.Upload_btn{
    width:100px;
    padding:6px;
    margin:10px;
    border-radius:6px;
    border:1px solid lightgray;
    background-color:dodgerblue;
    color:white;
    transition:0.3s all;
}

.Upload_btn:hover{
    background-color:white;
    color:dodgerblue;

}

.submit_button{
    width:150px;
    padding:8px;
    margin:10px;
    border-radius:6px;
    margin:auto;
    background-color:dodgerblue;
    color:white;
    font-size: 16px;
    border:1px solid lightgray;
    transition:0.3s all;
}

.submit_button:hover{
    background-color: white;
    color:dodgerblue;
    border:2px solid dodgerblue;

}

.blogs-form textarea:hover{
    border:2px solid dodgerblue;
}
.blogs-form input[type="text"]:hover{
    border:2px solid dodgerblue;
}

.fglink{
    text-align:center
}
.fglink>a{
    text-decoration: none;
    color:gray;
    font-weight:500;
    transition:0.1s all;
}
.fglink>a:hover{
    color:black;

}





/*For Mobile-phone */

.comment{
    border:none;
    background-color: lightgrey;
    border-radius: 25px ;
    height:80px;
    margin: 5px;
    max-height: 300px;
    width:max-content;
    padding:10px;
    padding-bottom: 10px;
}
.comment form{
    display:inline;
    margin-left: 10px;
}
.comment .date{
    font-size: 13px;
    padding-top:2px;
    float: left;
}
.comment .user-name{
    font-size: 15px;
}
.comment button{
    border: none;
    font-size: 12px;
    background-color: transparent;
    padding-top:none;
    transition: 0.2s all;
}
.comment .deletebtn:hover{
    color:red;
}
.comment .editbtn:hover{
    color:blue;
}
.container{
    width:100%;
    max-width: 1100px;
    margin: 0 auto;
}
.container img{
   
    width:100%;
   height:80%;
   
}
.container .blog-content{
    text-align: justify;
    font-size:18px;
    width:100%;
}

.container #author_info{
    display:flex;
    flex-direction:column;
    margin:10px 0px;
}

.item-1{
    display:flex;
    align-items: center;
}
.item-1>div{
   width:100px
}
.item-2{
    padding:15px;
}
.item-2>p{
    margin-top:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.container #commentform{
    display:flex;
    margin-top: 20px 0px;
    width:80%;
}
.container #commentform input {
 max-width:60%;
 width:400px;
 padding:10px;
 height:35px;
 font-size:16px;
 border:1px solid gray;
 border-radius:5px;

}
.container #commentform button{
    border:1px solid grey;
    background-color: dodgerblue;
    color:white;
    padding: 4px;
    max-width:30%;
    width:120px;
    font-size:16px;
    transition: 0.5 all;
    border-radius:4px;
}
.container #commentform button:hover{
    background-color:rgb(10, 124, 238);
}

#profile_pic{
    border-radius:100%;
    height:90px;
    width:90px;
    border-top: 4px solid blue;
    border-bottom: 4px solid red;
    border-left: 4px solid yellow;
    border-right: 4px solid green;
    
}

#edit_profile{
    width:90%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    padding:2%;
    text-align: center;
    border:1px solid lightgrey;
}
#edit_profile input{
    
    margin-top:15px;
    width:90%;
    height:30px;
    padding:10px;
}

.register-form{
    width:90%;
    max-width:400px;
    color:black;
    margin: 0 auto;
    margin-top: 40px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#E8E8E8;
    padding: 20px 0px 20px 0px;
    box-shadow: 0px 0px 10px rgb(141, 141, 141);
    
    
}
.register-form input[type="text"],input[type="password"],input[type="email"]{
    display: block;
    width:80%;
    margin: 0 auto;
    margin-top: 20px;
    padding:2px 0px 2px 4px;
    font-size: 16px;
    height:35px;
    background-color: #e8e8e8;
    border: none;
    border-bottom: 2px solid darkgray;
    color:black;
    transition: 0.5s all;
}

.register-form select{
    width:30%;
    display: block;
    margin-top: 20px;
    margin-left: 10%;
    font-size: 16px;
    padding:2px 0px 2px 4px;
    height:35px;
    background-color: transparent;
    color: black;
    border:none;
    border-bottom:2px solid darkgrey;
}
.register-form input[type="checkbox"]{
    margin-left:10% ;
    margin-top: 20px;
    width:15px;
    height:15px;
   
    color: rgb(0, 0, 0);
}


.register-form p{
    color:black;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    
    text-align: center;
}




.login-register_btn{
    display:block;
    margin:0 auto;
    margin-top: 20px;
    margin-bottom:20px;
    width:90%;
    height:40px;
    background-color:#32CD32;
    border:none;
    color:white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s all;
    
}



.register-form input:hover{
    border-bottom: 2px solid dodgerblue;
}


.login-register_btn:hover{
    background-color: white;
    color:#32CD32;
    border:2px solid #32CD32;
}
.unfollowed{
   border-radius: 5px;
   padding: 5px;
   color:white;
   background-color: rgb(31, 114, 182);
   border:none;
   transition: 0.8s all;
}

.followed{
    background-color:#e0e0e0;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    border:1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    transition: 0.8s all;
}

.onlyReadable{
    color:gray;
}

#user_info input{
    border:none;
    font-size: 16px;
    border-bottom: 1px solid black;
    width:180px;
    padding:1px 5px;
}
#user_info label{
    font-size:18px;
}
#user_info span{
    font-size:18px;
}


#user_info div{
    padding:10px;
    
}


.user_profile{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    width:80%;
    max-width: 1000px;
    margin:auto;
    margin-top: 20px;
    
}



#user_profile_pic >#profile_upload{
    width:225px;
    height: 225px;
    position: relative;
    border: none;
    border-radius:60%;
    
}

#up_image{
    padding:6px 10px;
    margin-top:5px;
    margin-left:58px;
    background-color:rgb(53, 173, 53);
    font-size:16px;
    border:1px solid gray;
    color:white;
    border-radius:5px;
    transition:0.3s all;
}

#filename{
    color:white;
    background-color:gray;
    width:80%;
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius:4px;
}


#up_image:hover{
    background-color:green;

}

.notallowed{
    cursor:not-allowed;
}

#overlay{
    display:none;
    position:absolute;
    top:0; 
    height:225px; 
    width:225px;
    background-color:black; 
    color:white;
    padding-top:100px;
    opacity:0.7;
    border-radius:50%;
    cursor:pointer;
}

#profile_upload:hover #overlay{
    display:block;
}


.submit_btn{
    width:40%;
    padding:6px 10px;
    background-color: rgb(43, 144, 226);
    color:white;
    border:none;
    border-radius: 10px;
    font-size: 18px;
}

#user_profile_pic button> i{
    font-size:100px;
}

.user_profile >#user_profile_pic{
    flex:30%;
}

.user_profile >#user_info{
    flex:70%;
}
.blog-container{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    width:90%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    align-items: flex-start;
    max-width: 1100px;
    flex-wrap: wrap;
    max-height: 100%;
}

.blog{
    flex-basis: 30%;
    margin:10px 1.5%;
    border:2px solid lightgray;
    padding:1%;
    border-radius: 5px;
    transition: 0.5s all;
    max-height: 100%;
    
}
.blog:hover{
    flex-basis: 30.8%;
    margin-left:1.5%;
    margin-right:1.5%;
    box-shadow: 0px 0px 15px dodgerblue;
}

.img-container{
    
    max-width: 100%;
    padding: 0 auto;
}

.img-container >img{
    width:100%;
    height:190px;
    object-fit: cover;
}
.blog-stats{
    display: flex;
    margin-top: 5px;
    border-top:2px solid #E0E0E0;
}

.blog-stats >div{
    font-size: 20px;
    flex-basis: 33.3%;
    text-align: center;
    cursor:pointer;
}

.blog-stats i{
    
    color: black;
}

@media screen and (max-width: 770px) {
    .blogs-form{
        max-width:90%;
    }
    .blogs-form>form{
        max-width: 90%;
    }
    
    .container{
        width:90%;
        padding:10px;
    }
    #commentform{
        max-width: 90%;
        
    }
    
}


@media  screen and (max-width:930px){
    .blog-container{
        flex-direction: column;
    }
    .blog{
        flex:1;
    }
    .img-container >img{
        height: 100%;
    }
    .hamburger-icon {
        display: flex;
        cursor: pointer;
        flex-basis:20%;
        justify-content: flex-end;
        
    }
    .Logo{
        flex-basis:80%;
    }
    .navlinks{
        display:none;
    }
    .navbar{
        padding:0px 8px;
        box-shadow: none;
    
    }
    .active{
        display:flex;
        flex-basis:100%;
        flex-direction:column;
        justify-content: center;
        align-items: center;
      }
    
      .active >ul{
        display:flex;
        flex-direction:column;
        align-items:stretch;
        width:100%;
        text-align:center;
      }
      .active >ul>li{
        padding:8px;
        display:block;
        border-bottom:1px solid black;
        background-color:white;
      }
      .active >ul>li:hover{
        background-color:gray;
        
      }
      .active >ul>li>a{
          display:block;
      }
      .user_profile{
          flex-direction:column;
      }
      
}



